<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="data-manager">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- <h2>Hello [[prop1]]!</h2> -->
    <iron-ajax
      auto
      url="http://localhost:8080/api/blog"
      handle-as="json"
      last-response="{{postResponse}}"
      loading="{{cargando}}">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DataManager extends Polymer.Element {
      static get is() { return 'data-manager'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'data-manager'
          },
          postResponse: {
            type: Object,
            value: () => {
              return{}
            },
            observer: '_success'
          },
          cargando: {
            type: Boolean,
            value: true
          }
        };
      }
      _success(e) {
        if (e.length>0) {
          this.dispatchEvent(
            new CustomEvent('data-service',{
              detail:this.postResponse
            })
          )
        }
      }
    }

    window.customElements.define(DataManager.is, DataManager);
  </script>
</dom-module>
