<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/assets/create-post-css.html">

<dom-module id="post-create">
  <template>
    <style include="create-post-css"></style>
    <section class="section-form">
      <article class="article-form">
        <h2>New Post</h2>
        <form class="form" action="index.html" method="post">
          <paper-input id="title" label="Title" value="{{title}}"></paper-input>
          <paper-input id="article" label="Article" value="{{article}}"></paper-input>
          <paper-input id="author" label="Atuhor" value="{{author}}"></paper-input>
          <paper-input id="keywords" label="Keywords" value="{{keywords}}"></paper-input>
          <paper-icon-button class="send" icon="send" on-click="_insertPost" onclick="location.reload(false)"></paper-icon-button>
          <slot></slot>
        </form>
      </article>
    </section>
    <iron-ajax
      auto
      url="http://localhost:8080/api/blog"
      method="POST"
      handle-as="json"
      content-type="application/json"
      body="{{body}}"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PostCreate extends Polymer.Element {
      static get is() { return 'post-create'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          article: {
            type: String,
            value: ''
          },
          author: {
            type: String,
            value: ''
          },
          keywords: {
            type: String,
            value: ''
          }
        };
      }
      _insertPost(e) {
        const elObjeto = {
          title: this.title,
          article: this.article,
          author: this.author,
          keywords: this.keywords
        }
        this.set('body', elObjeto)
        // this.dispatchEvent(
        // new CustomEvent('form-event',{
        //   detail:{
        //     title: this.title,
        //     article: this.article,
        //     author: this.author,
        //     keywords: this.keywords
        //   }
        // }))
      }
    }

    window.customElements.define(PostCreate.is, PostCreate);
  </script>
</dom-module>
