<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/assets/update-post-css.html">

<dom-module id="post-update">
  <template>
    <style include="update-post-css"></style>
    <section class="section-update">
      <article class="article-update">
        <h2>Update Post</h2>
        <form class="form" action="index.html" method="post">
          <paper-input id="title" label="Title" value="{{editMode.title}}"></paper-input>
          <paper-input id="article" label="Article" value="{{editMode.article}}"></paper-input>
          <paper-input id="author" label="Atuhor" value="{{editMode.author}}"></paper-input>
          <paper-input id="keywords" label="Keywords" value="{{editMode.keywords}}"></paper-input>
          <paper-icon-button class="update" icon="update" on-click="_updatePost" onclick="location.reload(false)"></paper-icon-button>
          <slot></slot>
        </form>
      </article>
    </section>
    <iron-ajax
      auto
      url="http://localhost:8080/api/blog/[[body.id]]"
      method="PUT"
      handle-as="json"
      content-type="application/json"
      body="{{body}}"></iron-ajax>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PostUpdate extends Polymer.Element {
      static get is() { return 'post-update'; }
      static get properties() {
        return {
          editMode: Object,
          body: Object
        };
      }
      _updatePost() {
        this.set('body', this.editMode)
        // console.log('UpDate');
        // console.log(this.editMode);
        // fetch(`http://localhost:8080/api/blog/${this.editMode.id}`, {
        //   method: 'PUT',
        //   headers: {
        //     'Content-Type': 'application/json;charset=UTF-8'
        //   },
        //   body: JSON.stringify(this.editMode),
        // })
        // .then(function(response) {
        // })
        // .then(function () {
        //   // console.log('Actualizado');
        //   alert('Actualizado...')
        // })
        // .catch((err) => {
        //   console.error(err)
        // })
      }
    }

    window.customElements.define(PostUpdate.is, PostUpdate);
  </script>
</dom-module>
