<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../src/assets/delete-post-css.html">

<dom-module id="post-delete">
  <template>
    <style include="delete-post-css"></style>
    <section class="section-delete">
      <article class="article-delete">
        <h2>Delete Post</h2>
        <h3>[[deleteMode.title]]</h3>
        <h4>[[deleteMode.author]]</h4>
        <h5>[[deleteMode.article]]</h5>
        <paper-icon-button delete-mode="[[deleteMode]]" class="delete" icon="delete" on-click="_deletePost" onclick="location.reload(false)"></paper-icon-button>
        <slot></slot>
      </article>
    </section>
    <iron-ajax
      auto
      url="http://localhost:8080/api/blog/[[body.id]]"
      method="DELETE"></iron-ajax>
  </template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class PostDelete extends Polymer.Element {
      static get is() { return 'post-delete'; }
      static get properties() {
        return {
          deleteMode: Object,
          body: Object
        };
      }
      _deletePost() {
        console.log('Delete');
        this.body = this.deleteMode
        // fetch(`http://localhost:8080/api/blog/${this.deleteMode.id}`,{
        //   method: 'DELETE'
        // })
        // .then(function () {
        //   // console.log('Se elimino exitosamente....');
        //   // alert('Se elimino exitosamente...')
        // })
        // .catch((err) => {
        //   console.error(err)
        //   // alert('Ocurio un error')
        // })
      }
    }

    window.customElements.define(PostDelete.is, PostDelete);
  </script>
</dom-module>
