<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../src/assets/list-post-css.html">



<dom-module id="post-list">
  <template>
    <style include="list-post-css"></style>
    <template is='dom-if' if=[[deleteEnable]]>
      <post-delete delete-mode="[[deleteMode]]">
        <paper-icon-button class="cancel" icon="close" on-click="_ocultarDelete"></paper-icon-button>
      </post-delete>
    </template>
    <template is="dom-if" if="[[editEnable]]">
      <post-update edit-mode="[[editMode]]">
        <paper-icon-button class="cancel" icon="close" on-click="_ocultarEdit"></paper-icon-button>
      </post-update>
    </template>
    <template is="dom-repeat" items="[[postList]]" as="post">
      <section class="post" on-click="enableEditMode">
        <articule class="item" data-index$="[[index]]">
          [[ post.title ]] &mdash; [[ post.article ]]
          <small><strong>&mdash; [[ post.author ]]</strong></small>
          <paper-icon-button class="delete" icon="close" on-click="enableDeleteMode"></paper-icon-button>
        </articule>
      </section>
    </template>
  </template>
  <script>

    /**
     * @customElement
     * @polymer
     */
    class PostList extends Polymer.Element {
      static get is() { return 'post-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'post-list Post List'
          },
          db: Object,
          postList: {
            type: Array,
            notify: true
          },
          editMode: {
            type: Object,
            notify: true
          },
          deleteMode: {
            type: Object,
            notify: true
          },
          listEnable: {
            type: Boolean,
            value: true
          },
          editEnable: {
            type: Boolean,
            value: false
          },
          deleteEnable: {
            type: Boolean,
            value: false
          }
        };
      }
      enableEditMode(e) {
        if (e.target.classList.contains('delete')) {
          return false
        }
        const domEdit = e.target.closest('.item')
        const obj = this.postList[domEdit.dataset.index]
        this.set('editMode', obj)
        this.editEnable = true
        this.listEnable = true
        this.deleteEnable = false
        // console.log(this.editMode);
      }
      enableDeleteMode(e) {
        const domDelete = e.target.closest('.item')
        const obj = this.postList[domDelete.dataset.index]
        this.set('deleteMode', obj)
        this.editEnable = false
        this.listEnable = true
        this.deleteEnable = true
        // console.log(this.deleteMode);
      }
      _ocultarEdit() {
        this.editEnable = false
      }
      _ocultarDelete() {
        this.deleteEnable = false
      }
    }

    window.customElements.define(PostList.is, PostList);
  </script>
</dom-module>
