<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../src/assets/user-register.html">

<dom-module id="post-create">
  <template>
    <style include="user-register"></style>
    <section class="section-register">
      <article class="article-register">
        <h2>New Post</h2>
        <form class="form" action="index.html" method="post">
          <paper-input id="user_name" label="User Name" value="{{user_name}}"></paper-input>
          <paper-input id="email" label="E-Mail" value="{{email}}"></paper-input>
          <paper-input id="password" label="Password" value="{{password}}"></paper-input>
          <paper-icon-button class="send" icon="send" on-click="_insertPost" onclick="location.reload(false)"></paper-icon-button>
          <slot></slot>
        </form>
      </article>
    </section>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class PostCreate extends Polymer.Element {
      static get is() { return 'post-create'; }
      static get properties() {
        return {
          title: {
            type: String,
            value: ''
          },
          article: {
            type: String,
            value: ''
          },
          author: {
            type: String,
            value: ''
          },
          keywords: {
            type: String,
            value: ''
          }
        };
      }
      _insertPost(e) {
        this.dispatchEvent(
        new CustomEvent('form-event',{
          detail:{
            title: this.title,
            article: this.article,
            author: this.author,
            keywords: this.keywords
          }
        }))
      }
    }

    window.customElements.define(PostCreate.is, PostCreate);
  </script>
</dom-module>
