<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-progress/paper-progress.html">

<link rel="import" href="../../src/elements/post-list.html">
<link rel="import" href="../../src/elements/post-create.html">
<link rel="import" href="../../src/elements/post-update.html">
<link rel="import" href="../../src/elements/post-delete.html">

<link rel="import" href="../../src/utilities/post-datamanager.html">

<dom-module id="el-post-app">
  <template>
    <style>
      :host {
        --app-primary-font: 'Coustard', 'sans-serif', 'Arial';
        --app-primary-color: #262525;
        --app-header-height: 70px;
        --app-header-margin: 0 10px;
        --app-header-transform: scale(2.0);
        --app-header-icons: #de5609;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      app-header{
        font-family: var(--app-primary-font);
        color: var(--app-header-icons);
        background-color: var(--app-primary-color);
      }
      app-header a{
        text-decoration: none;
        cursor: pointer;
        pointer-events: initial;
      }
      app-header, app-toolbar {
        height: var(--app-header-height);
      }
      app-toolbar > [main-title] iron-icon {
        transform: var(--app-header-transform);
        margin: var(--app-header-margin);
      }
      paper-button iron-icon {
        transform: var(--app-header-transform);
        margin: var(--app-header-margin);
      }
      app-toolbar > paper-button {
        font-family: var(--app-primary-font);
        text-transform: capitalize;
      }
      app-toolbar > paper-button:focus,
      app-toolbar > paper-button:active {
        font-weight: normal;
      }
      app-header-layout[edit-mode] > app-header,
      app-header-layout[create-mode] > app-header {
        z-index: 0;
      }
      iron-icon, a{
        color: var(--app-header-icons);
      }
      main#content {
        padding: 1em 1em 2em;
      }
      .cancel{
        border: 0;
        background-color: #262525;
        border-radius: 50%;
        box-shadow:
          0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12),
          0 3px 1px -2px rgba(0, 0, 0, 0.2);
        transition: transform .3s;
        margin-top: 20px;
        color: #de5609;
      }
    </style>
    <data-manager on-data-service="_getData"></data-manager>
    <app-drawer-layout fullbleed>
      <app-header-layout has-scrolling-region create-mode$=[[createPost.enable]] edit-mode$=[[editPost.enabled]]>
        <app-header slot="header" fixed effects="waterfall">
          <app-toolbar>
            <div main-title>
              <a href="/">
                <iron-icon icon="polymer"></iron-icon>
                C.R.U.D.
              </a>
            </div>
            <paper-button on-click="_mostrarCreate">
              <iron-icon icon="add"></iron-icon>
            </paper-button>
          </app-toolbar>
        </app-header>
        <main id="content">
          <template is="dom-if" if="[[createEnable]]">
            <post-create on-form-event="_addForm">
              <paper-icon-button class="cancel" icon="close" on-click="_ocultarCreate"></paper-icon-button>
            </post-create>
          </template>
          <post-list post-list={{dataPost}}></post-list>
        </main>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ElPostApp extends Polymer.Element {
      static get is() { return 'el-post-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'C.R.U.D. Polymer'
          },
          dataPost: {
            type: Array
          },
          _formData: {
            type: Array
          },
          createPost: {
            type: Object,
            value: {
              enabled: false,
              loading: false
            }
          },
          createEnable: {
            type: Boolean,
            value: false
          },
          editPost: {
            type: Object,
            value: {
              enabled: false,
              loading: false
            }
          },
          body: Object
        };
      }
      _getData(e) {
        const postList = e.detail
        this.set('dataPost', postList)
      }

      // _addForm(e){
      //   const formuPost = e.detail
      //   // console.log(formuPost)
      //   this.set('_formData', formuPost)
      //   return fetch('http://localhost:8080/api/blog', {
      //     method: 'POST',
      //     headers: {
      //       'Content-Type': 'application/json;charset=UTF-8'
      //     },
      //     body: JSON.stringify(formuPost),
      //     cache:'no-cache'
      //   })
      //   .then(function(response) {
      //
      //   })
      //   .then(function(formuPost) {
      //     alert("Datos guardados exitosamente...");
      //   })
      //   .catch(function(err) {
      //     console.error(err)
      //   })
      // }
      _mostrarCreate() {
        this.createEnable = true
        console.log('Create');
      }
      _ocultarCreate() {
        this.createEnable = false
      }
    }

    window.customElements.define(ElPostApp.is, ElPostApp);
  </script>
</dom-module>
