<dom-module id="delete-post-css">
  <template>
    <custom-style>
      <style>
        * {
          --orange: #de5609;
          --bg-black: #262525;

        }
        :host {
          display: flex;
          justify-content: center;
          aling-items: center;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 50px;
          left: -10px;
          background-color:rgba(0, 0, 0, 0.77);
          z-index:1;
        }

        .section-delete{
          display: flex;
          justify-content: center;
          width: 80%;
        }

        .article-delete{
          padding: 24px;
          width: 50%;
          height: 37%;
          display: block;
          justify-content: center;
          align-items: center;
          text-align: center;
          background-color: var(--orange);
          margin-top: 12%;
          border-radius: 30px;
        }
        .delete{
          border: 0;
          background-color: #262525;
          border-radius: 50%;
          box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
          transition: transform .3s;
          margin-top: 20px;
          color: #de5609;
        }
        h2{
          text-align: center;
          font-family: cursive;
        }
      </style>
    </custom-style>
  </template>
</dom-module>
