<dom-module id="list-post-css">
  <template>
    <custom-style>
      <style>
        :host {
          --card-txt-font-type: var(--app-primary-font);
          --card-txt-color-title: #de5609;
          --card-txt-color: #ffffff;
          --card-icon-color: #ff3434;
          --card-bg-color: var(--app-primary-color);
          --card-bg-color-yellow: #f4b409;
          --card-border-color: #de5609;
          --card-btn-delete: #ff3434;

          display: flex;   /* 1 */
          flex-wrap: wrap;   /* 2 */
          margin: -0.5em; /* 5 (edit me!) */
        }
        :host > * {
          flex: 1 0 16em; /* 3 (edit me!) */
          margin: 0.5em;  /* 4 (edit me!) */
        }
        .post {
          display: flex;
          color: var(--card-txt-color);
          background-color: var(--card-bg-color);
          border: 2px solid transparent;
          border-radius: 6px;
          font-family: var(--card-txt-font-type);
          line-height: 1.5;
          padding: 2rem 2rem 2.5rem;
          transition: all ease-in-out .2s;
        }
        .post:hover {
          cursor: pointer;
          text-decoration: none;
          transform: translateY(-5px);
          border: 4px solid var(--card-border-color);
          box-shadow: 0 6px 40px 0 rgba(219, 110, 31, 0.18);
        }
        .post > .item:first-child {
          display:block;
          margin-right: 20px;
          color: var(--card-txt-color-title);
        }
        .post small {
          display: block;
          margin-top: 1em;
        }
        .post > .actions {
          position: absolute;
          right: -13px;
          top: -13px;
          display: none;
        }
        .post:hover > .actions {
          display: block;
        }
        .post > .actions > paper-icon-button:hover {
          transform: rotate(180deg);
        }
        .delete{
          background-color: var(--card-bg-color-yellow);
          border-radius: 50%;
          box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
          transition: transform .3s;
          margin-top: 20px;
        }
        .cancel{
          border: 0;
          background-color: var(--card-bg-color-yellow);
          border-radius: 50%;
          box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
          transition: transform .3s;
          margin-top: 20px;
          color: #de5609;
        }
        my-carousel {
          width: 100%;
          contain: content;
        }
        my-carousel::after {
          display: block;
          content: '';
          padding-top: 75%; /* 4:3 = height is 75% of width */
        }

        my-carousel img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      </style>
    </custom-style>
  </template>
</dom-module>
