<dom-module id="">
  <template>
    <custom-style>
      <style>
        *{
          --white: #dfdfdf;
        }
        :host {
          display: flex;
          justify-content: center;
          aling-items: center;
          width: 100%;
          height: 100%;
          position: fixed;
          top: 50px;
          left: -10px;
          background-color:rgba(0, 0, 0, 0.77);
          z-index:1;
        }

        .section-user{
          display: flex;
          justify-content: center;
          width: 80%;
        }

        .article-user{
          padding: 24px;
          width: 50%;
          height: 56%;
          display: block;
          justify-content: center;
          align-items: center;
          background-color: var(--white);
          margin-top: 8%;
          border-radius: 30px;
        }
        .send{
          border: 0;
          background-color: var(--card-bg-color-black);
          border-radius: 50%;
          box-shadow:
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 1px 5px 0 rgba(0, 0, 0, 0.12),
            0 3px 1px -2px rgba(0, 0, 0, 0.2);
          transition: transform .3s;
          margin-top: 20px;
          color: #de5609;
        }
        h2{
          text-align: center;
          font-family: cursive;
        }
      </style>
    </custom-style>
  </template>
</dom-module>
